<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint address="soap.amqp:///wcfQueue"
			          binding="rabbitMQBinding"
			          bindingConfiguration="rabbitMQConfig"
			          contract="Contracts.ITestContract"
			          name="Service1OverRabbit" />
		</client>
		<bindings>
			<rabbitMQBinding>
				<binding name="rabbitMQConfig" hostname="localhost" port="5672" oneWay="true" />
			</rabbitMQBinding>
		</bindings>
		<extensions>
			<bindingExtensions>
				<add
					name="rabbitMQBinding" type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel, Version=1.0.110.0, Culture=neutral, PublicKeyToken=null"/>
			</bindingExtensions>
		</extensions>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>